.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input {
  height: 38px;
  border-radius: 6px;
  max-width: 300px;
  width: 100%;
  margin: 24px 0;
  padding: 8px;
  outline: none;
  border: 1px solid #9b9b9b;
}

.buttom {
  height: 40px;
  border-radius: 6px;
  max-width: 318px;
  width: 100%;
  border: 1px solid #9b9b9b;
  cursor: pointer;
  transition-duration: 0.2s;
}

.buttom:hover {
  background-color: #818181;
  color: white;
}